<mat-card class="card">
    <mat-card-content>
        <div class="container">
            <div class="board">
                <h3>Mês - {{month}}</h3>
                <app-total-balance></app-total-balance>
            </div>

            <div class="board">
                <h3>Ano</h3>
                <app-total-balance></app-total-balance>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-accordion class="example-headers-align" multi>
    @for(monthData of monthList; track month) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Mês
            </mat-panel-title>
            <mat-panel-description>
                Description
            </mat-panel-description>
        </mat-expansion-panel-header>
        Dados
    </mat-expansion-panel>
    } @empty {
    <h3>Ainda não existe registro pra esse ano</h3>
    }
</mat-accordion>